
body {
	background-color: #f4976c;
	letter-spacing: 2px;
	font-size: 18px;
}

table {
	width: 80%;
	table-layout: fixed;
	border-collapse: collapse;
	position: relative;
	top: 10px;
	left: 125px;
	background-color: white;
}

thead{
	font-size: 22px;
}

tbody, tfoot{
	font-size: 18px;
}

tfoot th{
	text-align: left;
	background-color: #fbddd0;
}

tfoot td{
	text-align: center;
	background-color: #fbddd0;
}

thead, tbody, tfoot th, td {
	border-bottom: 1px solid black;
}

th, td{
	padding: 8px;
}

thead th:nth-child(1) {
	text-align: left;
	width: 5%;
}

thead th:nth-child(2){
	text-align: left;
	width: 42%;
}

thead th:nth-child(3){
	text-align: center;
}

thead th:nth-child(4){
	text-align: center;
}

tbody td:nth-child(2){
	text-align: left;
}

tbody td:nth-child(3){
	text-align: center;
}

tbody td:nth-child(4){
	text-align: center;
}

tbody td:nth-child(5){
	text-align: center;
}


tbody tr:hover{
	background-color:#fbddd0;
}

#note {
	width: 35px;
  height: 20px;
  padding: 20px;
  border: 2px solid red;
 	border-radius: 200px;
}



a:link, a:visited {
	color: black;
}

a:hover {
	color: white;
	background: black;
}

