h1,h2 {
	text-align: center;
}



.link-button {


      background: #ffffff none repeat scroll 0 0;

      border: 1px solid #aa8d56;

      color: #aa8d56;

      outline: medium none;

      padding: 8px;
  
      text-decoration: none;

}

.link-button:hover {

     Background-color:  #aa8d56;

     Color: #ffffff;

}